body{
    background-color: #1b141a;

    margin: 0;

    padding: 0;

    display: flex;

    min-height: 100vh;

    justify-content: center;

    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
    
    

}

ul{

    margin: 0;

    padding: 0;

    display: flex;

}

ul li{

    position: relative;
    
    list-style-type: none;

    width: 100px;

    height: 100px;

    /* background-color: #7CB2D7; */

    margin: 0 10px;

    border-radius: 50%;

}
ul li span{
    display: none;
}
ul li:hover span{
    display: block;
    position: absolute;
    top: 100px;
    left: 25px;
    color: #FFF;
}


ul li::after,

ul li::before {

    content: "";

    position: absolute;

    left: 0;

    top: 0;

    width: 100%;

    height: 100%;

    background: black;

    border-radius: 50%;

    filter: blur(20px);

    z-index: -1;

    opacity: 0;

    transition: 1s;
}

ul li::after{
    filter: blur(40px);
}


ul li:hover::before,
ul li:hover::after {

opacity: 1;

}

ul li:nth-child(1) a,

ul li:nth-child(1):before,

ul li:nth-child(1):after{


    background: linear-gradient(45deg, #009fff, #ec2f4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;

}

ul li:nth-child(2) a,

ul li:nth-child(2):before,

ul li:nth-child(2):after{


    background: linear-gradient(45deg, #c0392b, #8e44ad); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

ul li:nth-child(3) a,

ul li:nth-child(3):before,

ul li:nth-child(3):after{


    background: linear-gradient(45deg, #8a2387, #e94057, #f27121); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

ul li:nth-child(4) a,

ul li:nth-child(4):before,

ul li:nth-child(4):after{


    background: linear-gradient(45deg, #fc4a1a, #f7b733); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


ul li a{

    position: absolute;

    top: 10px;

    left: 10px;

    right: 10px;

    bottom: 10px;

    text-align: center;

    line-height: 80px;
    
    background-color: #BF6363;

    color: #FFF;

    font-size: 35px;

    border-radius: 50%;

}

ul li a i{
    text-shadow: 0 2px 5px rgba(0,0,0,0.2) ;

    opacity: 0.4;

    transition: 0.3s;



}

ul li a:hover i {

    opacity: 1;

    transform: scale(1.4)
}

#q{
    background: linear-gradient(to right, #009fff, #ec2f4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#w{
    left: 35px;
    background: linear-gradient(45deg, #c0392b, #8e44ad); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#e{
    left: 30px;
    background: linear-gradient(45deg, #8a2387, #e94057, #f27121); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#r{
    left: 30px;
    background: linear-gradient(45deg, #fc4a1a, #f7b733); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



